.AdminVote::before,
.AdminVote::after {
 content: "";
 display: block;
 height: 1em;
 background: repeating-linear-gradient(
  -45deg,
  black,
  black 1em,
  red 1em,
  red 2em
 );
}

.AdminVote {
    width:100%;
    padding: auto;
    margin: auto;
    justify-content: center;
    max-width: 1800px;
}

.adminVoteContainer{
    background-color: rgb(53, 53, 53);
    border-bottom: 1px solid rgb(53, 53, 53);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    margin-bottom: 0px;
}

.adminVoteContainer Button {
    /* padding: 16px; */
    margin: 8px;
    
}