
#verticalalign {
    align-items: center;
}

.section {
    background-color: rgb(53, 53, 53);
    border-bottom: 1px solid rgb(53, 53, 53);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
}

.projector {
    margin-top: -32px;
}